/* --------------------------------------------- */
/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------------- */
/* Typography */

body											{ font-family:Helvetica Neue; font-size:16px; }
p												{ margin-bottom:12px;}

/* --------------------------------------------- */
/* Layout */

body											{ width:760px; margin:0 auto; padding: 40px;}
h1												{ margin: 0 20px 24px 0; width:220px; }
h3												{ margin: 0 20px 24px 0; width:220px;}

.header											{ margin-bottom:144px; }
.header p										{ margin-bottom:0px;}

.participants									{ margin-bottom:48px; }
.conversation									{ margin: 84px 0 84px 0; }
.conversation li								{ margin-bottom:36px; display:block;}

.conversation li:first-child cite				{display:block; margin-bottom: 24px;}
.conversation li:first-child blockquote:after	{content: "Phaedrus"; display:block; margin: 48px 0 -12px 400px;}					
								
.conversation cite								{ display:none;}


.socrates blockquote,
.phaedrus blockquote							{ width: 360px; display: block;}
.phaedrus blockquote							{ margin-left: 400px;}

.footer											{ margin-left:400px;}

